<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test DB</title>
</head>
<body>
  <h1>Database Tables</h1>
  <% tables.forEach(function(r) { %>
    <li><%= r.table %>: <%= r.column %> (<%= r.type %>)</li>
  <% }); %>
  <h2>Users registered:</h2>
  <% users.forEach(function(r) { %>
    <li>User ID is <%= r.user_id %> with last name of "<%= r.last_name %>" has the username of @<%= r.username %></li>
  <% }); %>
  <h2>Decks created:</h2>
  <% decks.forEach(function(r) { %>
    <li>User: <%= r.user_id %>, Deck ID: <%= r.deck_id %>, Deck Name: <%= r.deck_name %>, Deck Format: <%= r.type_id %>, Description: <%= r.description %></li>
  <% }); %>
  <h2>Cards in the DB:</h2>
  <% card.forEach(function(r) { %>
    <li>User: <%= r.user_id %>, Card ID: <%= r.card_id %>, Card Name: <%= r.card_name %>, multiverseId: <%= r.multiverse_id %>, Set name: <%= r.set_name %>, Copies: <%= r.copies %>, Foiled: <%= r.foiled %></li>
  <% }); %>
</body>
</html>